html,
body {
  background-image: url("https://media0.giphy.com/media/BzyTuYCmvSORqs1ABM/giphy.gif?cid=790b76110e4c41ae08709f715897faa9e71a42d24d8733be");
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  opacity: 1;
}
